/*HEADER - NAV*/
body {
  margin: 0px;
  padding: 0px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    108deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 17%,
    rgba(0, 126, 255, 1) 100%
  );
  color: aliceblue;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.header__nav__h1 {
  font-size: 3rem;
  font-family: "Lora", serif;
  padding-top: 1rem;
}
.header__nav__ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}
.header__nav__a {
  color: aliceblue;
  font-size: large;
  text-decoration: none;
  margin: 20px;
}
.header__nav__logo__img {
  width: 4rem;
  margin: 5px;
}
.header__nav__nav {
  justify-content: center;
  padding-top: 2rem;
}
/*CARRUSEL*/
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*NOSOTROS*/
.nosotros {
  margin: 15px;
  text-align: justify;
}
.nosotros__p {
  font-weight: 600;
  font-size: large;
}
/*SERVICIOS*/
.servicios {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/*CLIENTES*/
.clientes {
  margin: 2rem 0rem;
}
.clientes__img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.clientes__img img {
  width: 12vw;
  margin: 2rem 2rem;
}
.clientes__img__var {
  width: 12vw;
  margin: 2rem 2rem;
  border-radius: 50%;
}
.clientes__img2 {
  display: none;
}
/*CONTACTO*/
.contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4.2rem;
}
.contacto__div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}
.contacto__div__p {
  font-weight: 600;
  font-size: large;
}
.contacto__div__p__a{
  text-decoration: none;
  color: black;
}
.contacto__img {
  width: 2rem;
  margin-right: 15px;
}
/*BTN WHATSAPP*/
.whatsapp__div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 4rem;
  padding: 10px;
}
.whatsapp__a {
  background-color: rgb(10, 94, 22);
  border-radius: 50%;
  padding: 10px;
  animation: efecto 1.2s infinite;
}
.whatsapp__btn {
  width: 3rem;
}
.whatsapp__btn:hover {
  transform: scale(1.5);
  transition: ease-in 1s;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    108deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 17%,
    rgba(0, 126, 255, 1) 100%
  );
  color: aliceblue;
}
.footer__div {
  margin: 1rem;
}
.footer__div__p {
  text-align: center;
  font-weight: 600;
  font-size: small;
}
.footer__div2__p {
  font-weight: 300;
  font-size: smaller;
}
/*MEDIAQUERIS*/
@media (min-width: 320px) and (max-width: 539px) {
  .header {
    width: 100%;
  }
  .header__nav {
    flex-direction: column;
  }
  .header__nav__h1 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .header__nav__logo {
    display: none;
  }
  .clientes__img {
    display: none;
  }
  .clientes__img2 {
    display: block;
  }
  .clientes__img2__img {
    border-radius: 50%;
    width: 2rem;
    height: 22rem;
  }
  .contacto {
    padding: 1rem;
  }
  .whatsapp {
    width: 1rem;
    padding-top: 3.5rem;
    padding-right: 1rem;
  }
}
@media (min-width: 540px) and (max-width: 991px) {
  .header__nav__h1 {
    font-size: 2rem;
    padding-top: 1rem;
  }
  .header__nav__logo {
    padding-left: 1rem;
  }
  .contacto {
    padding: 3.5rem;
  }
}
